/*
!/README.md
!/.gitignore
!/deploy.sh
!/Makefile
!/.github

!/home/
/home/*
!/home/isucon/
/home/isucon/local/
/home/isucon/go/
/home/isucon/backup
/home/isucon/.*
!/rotate-slow-query-log.sh
!/rotate-nginx-log.sh
!/bench.sh
!/.vimrc

# webapp以下だけ含めたいため
/home/isucon/private_isu/*
!/home/isucon/private_isu/webapp


/home/isucon/webapp/*
!/home/isucon/webapp/ruby/
!/home/isucon/webapp/sql/

!/etc/
/etc/*
!/etc/mysql/
!/etc/nginx/
